<template id="categoryOptionTemplate">
  <option value=""></option>
</template>

<div class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProdModal">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
</div>


<!-- Prod add modal -->
<div class="modal fade" id="addProdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addProdForm">
            <div class="form-group">
                <label name="" class="control-label">Category</label>
                <select name="Category" class="form-select"></select>
            </div>
            <div class="form-group">
                <label name="" class="control-label">Name</label>
                <input name="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label name="" class="control-label">Units</label>
                <input name="Units" class="form-control" />
            </div>
            <div class="form-group">
                <label name="" class="control-label">Stocks</label>
                <input name="Stocks" class="form-control" />
            </div>
            <div class="form-group">
                <label name="Status" class="control-label">Status</label>
                <br>
                <input name="Status" class="form-check-input" type="checkbox" value="Active" id="flexCheckChecked"/>
                <label class="form-check-label" for="flexCheckChecked">Available</label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveProd">Save changes</button>
      </div>
    </div>
  </div>
</div>

