@{
    ViewData["Title"] = "Product Pages";
}

@Html.Partial("Partials/_CardPartial")
@Html.Partial("Partials/_ProductAddModalPartial")
<partial name="Partials/_ProductUpdateModalPartial"/>

<div class="contents flex-row flex-wrap justify-content" style="display: flex; ">
  
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
  var selectedProdId;
  var selectedProd;

  $(document).ready(function(){

    var productList = {};

    $.ajax("../api/categoryAPI/getAllCategories")
      .done(function(result){
        var template = document.querySelector("template#categoryOptionTemplate");
        var parent = document.querySelectorAll("select[name=Category]");
        
        for(i = 0; i < parent.length; i++){
          result.forEach(function (item){
            var cloned = template.content.cloneNode(true);
            cloned.querySelector("option").value = item.id;
            cloned.querySelector("option").innerText= item.name;

            parent[i].prepend(cloned);
          });
        }
    });

    populateCards();


    //get all product: display to card
    function populateCards(){
      $.ajax("../api/productapi/getAllProducts")
        .done(function(result){

            productList = result;

            var template = document.querySelector("template#card-container");
            var parent = document.querySelector(".contents");
            
            result.forEach(function (item){
              var cloned = template.content.cloneNode(true);
              cloned.querySelector(".card-title").innerText = item.id+" : "+item.name;
              cloned.querySelector(".card-subtitle").innerText = item.categoryName;
              cloned.querySelector(".card-stocks").innerText += item.stocks;
              cloned.querySelector(".card-units").innerText += item.units;
              cloned.querySelector(".card-status").innerText += item.status;

              cloned.querySelector(".edit-prod").setAttribute("data-prodId", item.id);
              cloned.querySelector(".edit-prod").setAttribute("data-prodName", item.name);
              
              parent.prepend(cloned);
            });
        });
    };

    //Save Changes Clicked
    $("#saveProd").click((e) => {
      var dataToPost = {};
      
      var formInputs = $("#addProdForm").serializeArray();
      formInputs.forEach(function(item){
        dataToPost[item.name] = item.value;
      });

      //post ajax
      $.ajax({
        url: "../api/productapi/postProduct",
        type: "POST",
        data: {
          p : dataToPost
        },
      })
      .done(function(){
        populateCards();
      });

      //close modal
      $("#addProdModal").modal("toggle"); 
      //clear form inside modal
      $("#addProdForm")[0].reset();
    });

    $(".edit-prod").click(function(){
      console.log("I was clicked");
    });

     $(".contents").delegate(".edit-prod", "click", function (e){
      var i = e.target.closest("a").getAttribute("data-prodId");
      console.log(i);
      
      if(i !=null){
        selectedProdId = i;
        selectedProd = productList.find(element => element.id == i);

        oFormObject = document.forms["updateProdForm"];
        $("#updateProdModal").modal("toggle");
        initForm(oFormObject, selectedProd);
      }

    }); 

    function initForm(form, data){

        Object.getOwnPropertyNames(data).forEach(function(item){
          //console.log(form.elements[item.charAt(0).toUpperCase() + item.slice(1)]);
          var currentElem = form.elements[item.charAt(0).toUpperCase() + item.slice(1)];

          if( currentElem == null ){return;}

          if(currentElem.tagName == "SELECT"){
            var selectChildren = Array.from(currentElem.children);
            var matchedOpt = selectChildren.find(opt => opt.value == selectedProd.category);
            if(matchedOpt){
              matchedOpt.selected = true;
            }
          }else{
            form.elements[item.charAt(0).toUpperCase() + item.slice(1)].setAttribute("value",data[item]); 
          }
        });
    }

  });



 

</script>