
@Html.Partial("_ProductCardPartial")


<div class="d-flex flex-wrap justify-content-evenly contents">
   
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $.ajax("../api/newapi/getallprods")
        .done(function(result){
            var template = document.querySelector("template");
            var parent = document.querySelector(".contents");

            result.forEach(function (item){
                
                var cloned = template.content.cloneNode(true);
                cloned.querySelector(".card-title").innerText = item.name;
                cloned.querySelector(".card-subtitle").innerText = item.categoryName;
                

                parent.prepend(cloned);



            });
    });
</script>

